/* 기본적인 스타일 설정 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }


  body {
    font-family: Arial, sans-serif;
    color: white;
    background-color: #172238;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  #game-start {
    cursor: pointer; /* 손가락 모양(포인터) */
  }
  #container {
    display: flex;
    width: 80%;
    max-width: 900px;
    height: 90%;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
  }
  #A {
      width: 50%;
      padding: 20px;
      border-right: 2px solid #ddd;
  }
  #A iframe {
      width: 100%;
      height: 100%;
      border: none;
  }
  #B {
      width: 50%;
      padding: 20px;
      text-align: center;
  }


  .container {
    background-color: #777a8c;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
  }
  
  h2 {
    margin-bottom: 1rem;
    text-align: center;
  }

  .top-content {
    height: 100px;
  }

  .project-title {
    text-align: center;
    font-size: 2rem;
    color: #f5a425;
    margin-bottom: 1.5rem;
  }
  
  .input-group {
    margin-bottom: 1rem;
  }
  
  .input-group label {
    display: block;
    margin-bottom: 0.5rem;
  }
  
  .input-group input {
    width: 100%;
    padding: 0.8rem;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    width: 100%;
    padding: 1rem;
    background-color: #f5a425;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button:hover {
    background-color: #4c89af;
  }
  
  a {
    color: #f5a425;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  