.login-box {
  font-size: 25px;
  position: absolute;
  top: 300px;
  right: 100px;
  background-color: white;
  border: 1px solid #ddd;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 400px;
  height: 500px;
  z-index: 999;
}
.In-login-box{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}

.login-box input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
    height: 50px;
  }
  
  .login-box button {
    background-color: #c0e5de;
    color: rgb(0, 0, 0);
    border: none;
    padding: 8px;
    cursor: pointer;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
    height: 70px;
    font-size: 20px;
  }
  
  .login-box button:hover {
    background-color: #9bced7;
  }