.navbar {
    position: relative;
    background-color: #1F2532;
    padding: 65px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  .logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  .logo-img{
    height: 38px;        /* 부모 높이에 맞추기 */
  }
  
  .menu {
    display: flex;
    gap: 47px;
    margin-right: 90px;
  }
  
  .menu-item {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    display: flex;              /* 이미지 정렬 */
    align-items: center;        /* 수직 가운데 정렬 */
    justify-content: center;    /* 수평 가운데 정렬 */
  }
  
  .menu-item img {
    height: 15px;               /* 원하는 크기로 조절 */
    object-fit: contain;
    transition: filter 0.2s ease;
  }
  
  .menu-item:hover img {
    transform: scale(1.08);    /* hover 시 밝게 효과 */
  }
  

.login-panel {
  position: fixed;
  top: 0;
  right: -420px;
  width: 400px;
  height: 100vh;
  background-color: rgb(185, 191, 192);
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
  transition: right 0.3s ease;
  z-index: 200;
  opacity: 0.93;
}

.login-panel.open {
  right: 0;
}

.login-content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  font-size: 20px;
  font-weight: normal;
}

.sign-up-content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  font-size: 20px;
  font-weight: normal;
}


.login-content input,
.login-content button,
.sign-up-content input,
.sign-up-content button {
  padding: 10px;
  height: 30px;
  border-radius: 4px;
  border: 1px solid #ddd;
}

.login-content button,
.sign-up-content button {
  background-color: #9da5a5;
  color: white;
  cursor: pointer;
  height: 80px;
  font-size: 20px;
}

/* 배경 어둡게 */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 150;
}  


.logged-in-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px; 
  font-size: 20px;
  font-weight: normal;
  padding: 20px;
}

.logout-button {
  width: 100%; 
  padding: 10px;
  height: 80px;
  border-radius: 4px;
  border: 1px solid #ddd;
  background-color: #9da5a5; 
  color: white;
  cursor: pointer;
  font-size: 20px;
}

.game-explain {
  background: #f8f8f8;
  padding: 10px;
  border-radius: 5px;
  width: 250px;
  margin-top: 50px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  position: absolute;
  z-index: 200;
  
}



