body {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #172238;
  color: #333;
}

.chart-container {
  width: 100%;
  height: 480px; /* 고정 높이 */
  position: relative;
}

#stock-chart {
  width: 100%;
  height: 450px; /* 그래프 높이 적당히 설정 */
}


.middle-body .panel {
  height: auto; /* 고정 높이 없애기 */
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

.navbar-time {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size: 35px;
  margin-right: 15px;
  font-weight: bold;
  align-items: center;
}

#quantity {
  font-size: 35px;
  width: 100px;
  height: 40px;
  border: 1px solid #b95a5a;
  text-align: center;
}
#price {
  font-size: 35px;
  width: 300px;
  height:40px;
  border: 1px solid #b95a5a;
  text-align: right;
}


label {
  margin-bottom: 5px; /* 입력 필드와 간격 조정 */
  font-size: 30px; /* 글씨 크기 조정 */
}

.quantity-container, .quantity-price-container {
  display: flex;
  flex-direction: row;
  text-align: center; /* 가운데 정렬 */
  align-items: center; /* 수직 정렬 */
}


.quantity-price-container {
  display: flex;
  gap: 10px;
  align-items: center;
}

#balance{
  font-size: 24px;
  width: 300px;
  height: 40px;
  text-align: right;
}

.balance-container {
  text-align: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
}

.balance-container label {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 5px;
}


img {
  max-width: 100%; /* 부모 요소에 맞게 크기 조절 */
  height: auto;
}

#buy {
  width: 300px;
  height: 55px;
  font-size: 20px;
}

#sell {
  width: 300px;
  height: 55px;
  font-size: 20px;
}

.navbar {
  background-color: #343a40;
  border: none;
  height: 73px;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.navbar .brand img {
  height: 100%; /* 네비게이션 바 높이에 맞춤 */
  max-height: 73px; /* 네비게이션 바 높이와 동일하게 설정 */
}
.dropdown-toggle{
  font-size: 15px;
  color:#f8f9fa;
}

.navbar-nav .dropdown-toggle,
.navbar-nav .dropdown-menu li a{
  cursor: pointer;
}

.navbar .nav {
  display: flex;
  align-items: center;
  margin-left: 1300px;
}

.navbar .nav > li {
  list-style: none;
  color: #fff;
  margin-left: 15px;
}

.navbar .nav > li > a {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}

#body {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.left-body{
  min-height: 40vh;
  height: auto;
  flex: 1;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 80px;
}
.middle-body{
  min-height: 40vh;
  height: auto;
  flex: 1.6;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 80px;
}
.middle-body .space-div {
  display: flex;
  width: 100%;
  height: 590px; /* 원하는 높이 설정 */
}


.right-body{
  min-height: 40vh;
  height: auto;
  flex: 1;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 80px;
}

.panel-title {
  font-size: 1.2rem;
  font-weight: bold;
  color: #007bff;
  text-align: center;
}

.table-container {
  width: 100%;
  max-height: 700px;
  overflow-y: auto;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  table-layout: fixed;
}

.table thead {
  background-color: #007bff;
  color: white;
}

.table th, .table td {
  padding: 10px;
  text-align: center;
  word-wrap: break-word;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #f2f2f2;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 20px;
}

#buy {
  background-color: #28a745;
  color: white;
}

#sell {
  background-color: #dc3545;
  color: white;
}

button:hover {
  opacity: 0.8;
}
